.graphContainer {
  /* border: 1px solid black; */
  /* padding: 1rem; */
  /* text-align: center; */
}

.graphContainer > * {
  user-select: none;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  position: relative;
  width: 500px;
  min-width: 300px;
  height: 500px;
  min-height: 300px;
  /* cursor: crosshair; */
}

.graph::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 500px;
  min-width: 300px;
  height: 500px;
  min-height: 300px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='50' y1='0' x2='50' y2='100' stroke='black' vector-effect='non-scaling-stroke'/><path d='M 50 0 L 51 2 L 49 2 Z' /><path d='M 50 100 L 51 98 L 49 98 Z' /><line x1='0' y1='50' x2='100' y2='50' stroke='black' vector-effect='non-scaling-stroke'/><path d='M 0 50 L 2 49 L 2 51 Z' /><path d='M 100 50 L 98 49 L 98 51 Z' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.graph-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: url(#blurMe);
  pointer-events: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-rule: nonzero;
}

.dot {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: red;
  border-radius: 50%;
}

.labelTopBottom {
  margin: 5px auto;
  width: 200px;
  text-align: center;
}

.labelLeftRight {
  margin: 0 5px;
  width: 150px;
  text-align: center;
}

.checkbox {
  display: inline-block;
  margin: 1.5em 1em;
}

.slider {
  display: flex;
  justify-content: center;
  margin: 1em;
}
