.form {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 4em;
}

.form select {
  z-index: 100;
}

.graph-container {
  margin: 7em 0;
}

.help li {
  margin-bottom: 0.8em;
}

.checkbox {
  display: inline-block;
  margin: 1.5em 1em;
}

.graphInputDisplay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  filter: url(#blurMe);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-rule: nonzero;
}

.canvasGraphInputDisplay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-rule: nonzero;
}

.fuckoffOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 1s ease;
}

.graphInputLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.draggableDot {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: move;
}

.draggableDot:hover {
  border: 1px dashed black;
}

input,
button,
select {
  position: relative;
}

.slider {
  display: grid;
  grid-template-columns: 14em auto 14em;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  /* z-index: 200; */
  text-align: center;
}

.slider input {
  width: 25em;
  margin: 0 1em;
}

.sliderLabelLeft {
  text-align: right;
}

.sliderLabelRight {
  text-align: left;
}

button {
  font-size: 1em;
  margin: 1em;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.axes {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.label {
  text-align: center;
  text-shadow: none;
  z-index: 1;
}

/* @media (max-width: 140em) {
  .form {
    padding: 80px 25vw;
  }
}

@media (max-width: 120em) {
  .form {
    padding: 80px 20vw;
  }
}

@media (max-width: 82em) {
  .form {
    padding: 80px 10vw;
  }
}

@media (max-width: 62em) {
  .form {
    padding: 80px 1em;
  }
} */
