.home {
  padding: 3em 1em;
  min-height: 100%;
  width: 100%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 414px) {
  /* Styles */
  .home {
    padding: 0 1em;
  }
}
