.vizContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 10% auto 10% 10%;
  grid-template-rows: 1% 20% auto 20% 2%;

  justify-content: center;
  align-items: center;

  margin-bottom: 15em;
}

.savebtn {
  position: relative;
  top: 5em;
  right: 0;
}

@media only screen and (max-device-width: 414px) {
  .savebtn {
    display: none;
  }
  .vizContainer {
    margin: 10em auto;
  }
}
