@font-face {
	font-family: "Atkinson";
	src: url('../assets/fonts/Atkinson-Hyperlegible-Regular-102.woff') format("woff"),
		url('../assets/fonts/Atkinson-Hyperlegible-Regular-102.ttf') format("ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Atkinson";
	src: url("../assets/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
		url("../assets/fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Atkinson";
	src: url("../assets/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
		url("../assets/fonts/Atkinson-Hyperlegible-Italic-102.ttf") format("ttf");
	font-style: italic;
}
@font-face {
	font-family: "Atkinson";
	src: url("../assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
		url("../assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("ttf");
	font-weight: bold;
	font-style: italic;
}


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: "Atkinson";
	font-weight: normal;
	font-size: 100%;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
