:root {
  --svg-defaultdotsize: 23;
  --svg-defaultdotopacity: 0.2;
  --svg-canvaswidth: 1000;
  --svg-canvasheight: 800;
  --svg-canvasmargintop: 40;
  --svg-canvasmarginright: 40;
  --svg-canvasmarginbottom: 40;
  --svg-canvasmarginleft: 40;
}

.results {
  display: grid;
  grid-template-areas:
    "head head head head head head"
    "knobs viz viz viz viz viz";
  grid-gap: 1em;
  padding: 4em 1em;
}

.head {
  grid-area: head;
}

.knobssubsection {
  margin: 1em 0;
}

.knobssubsection > label {
  padding-left: 1em;
}

.knobs {
  grid-area: knobs;
  align-self: start;
  position: sticky;
  left: 0;
  top: 4em;
  padding: 0.5em 1em;
  border: 1px solid #eee;
  opacity: 1;
}

.visualsContainer {
  grid-area: viz;
  align-self: start;
  padding: 0.5em 1em;
  border: 1px solid #eee;
}

.customViz {
  border: 1px solid #eee;
}

.standardViz {
}
