:root {
  --svg-defaultdotsize: 23;
  --svg-defaultdotopacity: 0.2;
  --svg-canvaswidth: 1000;
  --svg-canvasheight: 800;
  --svg-canvasmargintop: 40;
  --svg-canvasmarginright: 40;
  --svg-canvasmarginbottom: 40;
  --svg-canvasmarginleft: 40;
}

.results {
  padding: 4em 1em;
}

.knobs {
  padding: 0.5em 1em;
  border: 1px solid #eee;
  opacity: 1;
}

.visualsContainer {
  padding: 1em 0;
}

.customViz {
  padding: 1em;
  border: 1px solid #eee;
}

.standardViz {
  border: 1px solid #eee;
}

.label.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.viz {
  grid-area: viz;
  width: 100%;
  height: 100%;
}

.viz-container {
  display: grid;
  grid-template-columns: auto 10em auto 10em auto;
  grid-template-rows: auto min-content auto auto;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
}

.label {
  text-align: center;
}

legend {
  margin-bottom: 0.5em;
}
.knobssubsection {
  margin: 1em 0;
}

.knobssubsection > label {
  padding-left: 1em;
}
